# Ignore all PyTorch weight files
*.pth
*.pt
*.nii.gz
*.pyc
*.err
*.out
*.joblib
*.sbatch
!SuPreM/sbatch/curvas/*.sbatch
!SuPreM/sbatch/totalsegmentator/*.sbatch
!SuPreM/sbatch/legacy/*.sbatch
*.log
*.err
*.out
# Ignore WORD directory and all its contents
WORD/
.codex/
.agents/
3Dircadb1/
Dataset/
downloads/
external_dataset/
SuPreM/tmp/
Totalsegmentator_dataset
